<<<<<<< HEAD
// 
// coming-soon.scss
//

.counter-number {
    font-size: 32px;
    font-weight: $font-weight-semibold;
    text-align: center;
    display: flex;
    span {
        font-size: 16px;
        font-weight: $font-weight-normal;
        display: block;
        padding-top: 5px;
    }
}

.coming-box {
    width: 25%;
}
=======
// 
// coming-soon.scss
//

.counter-number {
    font-size: 32px;
    font-weight: $font-weight-semibold;
    text-align: center;
    display: flex;
    span {
        font-size: 16px;
        font-weight: $font-weight-normal;
        display: block;
        padding-top: 5px;
    }
}

.coming-box {
    width: 25%;
}
>>>>>>> f23d2f551239199f028f5e8870adde7381ad99ca
