<<<<<<< HEAD
// 
// Contacts.scss
//

.contact-links{
  a{
    color: $body-color;
  }
}

// profile

.profile-user-wid{
  margin-top: -26px;
=======
// 
// Contacts.scss
//

.contact-links{
  a{
    color: $body-color;
  }
}

// profile

.profile-user-wid{
  margin-top: -26px;
>>>>>>> f23d2f551239199f028f5e8870adde7381ad99ca
}