<<<<<<< HEAD
// 
// projects.scss
//

// project list

.project-list-table{
    border-collapse:separate; 
    border-spacing:0 12px; 
  tr{
    background-color: $card-bg;
  }
  
=======
// 
// projects.scss
//

// project list

.project-list-table{
    border-collapse:separate; 
    border-spacing:0 12px; 
  tr{
    background-color: $card-bg;
  }
  
>>>>>>> f23d2f551239199f028f5e8870adde7381ad99ca
}