<<<<<<< HEAD
// 
// general-rtl.scss
//

html {
    direction: rtl;
}

body {
    text-align: right;
=======
// 
// general-rtl.scss
//

html {
    direction: rtl;
}

body {
    text-align: right;
>>>>>>> f23d2f551239199f028f5e8870adde7381ad99ca
}